<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Automix"] - Automix Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutomixMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a href="#" class="logo"><img src="~/Images/Icons/logo.png" /></a>
                <ul class="nav-items">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#pince">Pince</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#alacarte">A'la Carte</a></li>
                    <li><a href="#pizza">Pizza</a></li>
                    <li><a href="#dailymenu">DailyMenu</a></li>
                    <li><a href="#connections">Connections</a></li>
                </ul>
            </div>
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AutomixMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div class="up-arrow"><img src="~/Images/Icons/icon_top.png" /></div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
