<section id="cellar" data-hu="Pince" data-en="Cellar" class="cellar pad-top-100 pad-bottom-100 parallax" style="background-image: url('@Url.Content("~/Images/BG/pince-bg.jpg")');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="block-title text-center">Mix Pince</h1>
                    <p class="text-center">Hétvégenként várjuk szórakozni vágyó vendégeinket a pincében kialakított bárban, garantált jó hangulat és finom italok!</p>

                    <div class="cellar-box">

                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="sf-cellar">
                                    <div class="thumb">
                                        <a href="#"><img src="images/Cellar/cellar_01.jpg" alt=""></a>
                                    </div>
                                    <div class="text-col">
                                        <h3>Billiárd</h3>
                                        <p>Minőségi asztalon és kellékekkel játszhatod Amerika kedvenc kocsmasportját. Győzz és legyen egy jó estéd!</p>
                                        <ul class="cellar-social">
                                        <li><a href="https://www.facebook.com/profile.php?id=100001893349698"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-md-4 col-sm-6">
                                <div class="sf-cellar">
                                    <div class="thumb">
                                        <a href="#"><img src="images/Cellar/cellar_02.jpg" alt=""></a>
                                    </div>
                                    <div class="text-col">
                                        <h3>Koktélok</h3>
                                        <p>Tedd kivételessé az összejöveteled a Mix pince alkoholos és alkoholmentes italkompozícióival! Legyen ez az alkalom más, mint a megszokottak!</p>
                                        <ul class="cellar-social">
                                            <li><a href="https://www.facebook.com/profile.php?id=100001893349698"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-md-4 col-sm-6">
                                <div class="sf-cellar">
                                    <div class="thumb">
                                        <a href="#"><img src="images/Cellar/cellar_03.jpg" alt=""></a>
                                    </div>
                                    <div class="text-col">
                                        <h3>Kiváló szórakozás</h3>
                                        <p>Töltsd kellemes környezetben a hétvégédet, vagy akár tartsd nálunk az összejöveteledet családoddal barátaiddal!</p>
                                        <ul class="cellar-social">
                                            <li><a href="https://www.facebook.com/profile.php?id=100001893349698"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>