<section id="connections" data-en="Connections" data-hu="Kapcsolat" class="color-section-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <img class="connections-logo" src="~/Images/Icons/logo.png" alt="Logo" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="orange-header">Rólunk</h3>
                <p>Kellemes környezet, a kiskunság házias ízei, kedvező árak. Gyermekbarát környezet kialakításával várja éttermünk családos vendégeinket!</p>
            </div>
            <div class="col-md-3">
                <h3 class="orange-header">Új ételek</h3>
                <ul>
                    <li><a href="#alacarte">A'la Carte étlap</a></li>
                    <li><a href="#pizza">Olasz stílusú pizzák</a></li>
                    <li><a href="#dailymenu">Havi menű</a></li>
                    <li><a href="#">Vissza a tetejére</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="orange-header">Kapcsolat</h3>
                <p><i class="fa fa-map-signs orange-icon" aria-hidden="true"></i> 6080 Szabadszállás, Hajcsár utcsa 14.</p>
                <p><i class="fa fa-mobile orange-icon" aria-hidden="true"></i> +36 76 363 041</p>
                <p><i class="fa fa-envelope orange-icon" aria-hidden="true"></i><a href="#"> info@tothautomix.hu</a></p>
            </div>
            <div class="col-md-3">
                <h3 class="orange-header">Nyitva tartás</h3>
                <ul>
                    <li>
                        <p>Vasárnap - Csütörtök </p>
                        <span> 06:00 - 20:00 </span>
                    </li>
                    <li>
                        <p>Péntek - Szombat </p>
                        <span> 06:00 - 20:00 </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>