<section id="dailymenu" data-en="Daily Menu" data-hu="Napi Menü" class="color-section-1">
    <div id="weeklyMenuCarousel" class="carousel slide">
        <div class="carousel-inner">
                <!-- Carousel items will be added here -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#weeklyMenuCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#weeklyMenuCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>