<header class="header" id="header">
    <nav class="navigation" id="navigation">
        <div class="logo-container hide-on-small">
            <a href="/">
                <img src="~/Images/Icons/logo.png" alt="Automix Restaurant Logo" id="logo" />
            </a>
        </div>
        <ul class="nav-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#cellar">Cellar</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#alacarte">A'la Carte</a></li>
            <li><a href="#pizza">Pizza</a></li>
            <li><a href="#dailymenu">DailyMenu</a></li>
            <li><a href="#connections">Connections</a></li>
        </ul>
    </nav>
    <button class="mobile-menu-toggle" aria-label="Toggle mobile menu" id="mobile-menu-toggle">
        <i class="fas fa-bars"></i>
    </button>
</header>