<section id="home" data-en="Home" data-hu="Home" class="parallax" style="background-image: url('@Url.Content("~/images/BG/home-bg.jpg")');">
    <div class="section-content">
        Home
    </div>  
</section>
